.order{
    padding: 50px 40px;
    margin: 20px auto;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
    width: 800px;
}

.order_date{
    position: absolute;
    top: 20px;
    left: 20px;
}

.order_id{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 17px;
}

.order_total{
    font-weight: 500;
    text-align: right;
    color: #f48208;
}